body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: helvetica;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  color: white;
}

.header {
  background-image: url("the-flatiron-building.png");
}
